body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 253, 252),
    rgb(221, 241, 239)
  );
}

.outfit-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.the-text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 2em;
  color: rgb(67, 106, 133);
}

.sorting {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.sorting__title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  color: rgb(67, 106, 133);
  width: 19%;
}
.sorting__button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  color: rgb(67, 106, 133);
  width: 19%;
  text-align: center;
  align-items: center;

}
.sorting__button:hover {
  color: rgb(5, 37, 58);
}
.sorting__button.active {
  animation: button-press 0.5s ease;
  color: white;
  background-color: rgb(5, 37, 58);
  border-radius: 5px;
}

.search-box {
  padding: 3% auto;
  display: flex;
  justify-content: center;
}

.search-box__text {
  font-family: "Outfit" sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 2.5em;
  width: 70%;
  border: 5px solid rgb(32, 116, 142);
  border-radius: 15px;
  padding: 10px;
  margin-right: 4%;
}
.search-box__text:focus {
  outline: none;
  transform: scale(1.05);
  border: 5px solid rgb(17, 70, 96);
  background-color: rgb(243, 253, 255);
  transition: 0.4s ease-in-out;
}
::placeholder {
  color:rgb(24, 63, 104)
}

.search-box__button {
  font-family: "Outfit" sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 3em;
  width: 15%;
  height: 1.5%;
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  background-color: rgb(0, 0, 0, 0);
  color: rgb(67, 106, 133);
}
.search-box__button:hover {
  color: rgb(5, 37, 58);
}
.search-box__button:active {
  animation: button-press 0.2s ease;
}

.search-box__clear-container {
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.search-content-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2%;
  left: 2%;
  width: 20%;
  height: 10%;

  background-color: rgba(255, 255, 255, 0.875);
  border: rgb(51, 202, 244) 3px solid;
  border-radius: 10px;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  padding: auto;
}

.search-box__clear {
  font-family: "Outfit" sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 3em;
  width: 50%;
  height: 1.5%;
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  background-color: rgb(0, 0, 0, 0);
  color: rgb(67, 106, 133);
}
.search-box__clear:hover {
  color: rgb(5, 37, 58);
}
.search-box__clear:active {
  animation: button-press 0.2s ease;
}

#no-items-found {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16em;
  text-align: center;
  margin: 10% auto;
  margin-top: 15%;
  width: 80%;
  background-color: rgba(116, 183, 211, 0.662);
}
#no-items-found:hover {
  animation: rotate-item 5s infinite ease-in-out;
}

.no-items-found__text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: .9em;
  text-align: center;
}

.lexend-item-title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.horizontal-line {
  width: 98%;
  border-top: 10px solid black;
  margin: 20px auto;
  border-radius: 5px;
}

.thin-horizontal-line {
  width: 98%;
  border-top: 5px solid black;
  margin: 20px auto;
  margin-top: 0;
  border-radius: 2.5px;
  display: block;
}

#market-item__bottom-line {
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 94%;
  border: rgb(56, 181, 219) 5px solid;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.market-item {
  padding: 0.5%;

  width: 300px;
  height: 375px;
  background-color: rgba(60, 150, 225, 0.07);
  margin: 2vw;
  transition: all 0.299s;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  border: rgb(5, 37, 58) 7px solid;
  border-radius: 13px;

  box-shadow: 2px 2px 6px 1px rgba(156, 192, 207, 0.774);
}
.market-item:hover {
  transform: scale(1.1);
}

.header-div {
  height: 10%;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.market-item__title {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-size: 2.3em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#smaller {
  font-size: 1.8em;
}

#even-smaller {
  font-size: 1.4em;
}

.market-item__img {
  max-width: 100%;
  max-height: 55%;
  margin: auto;
}

.market-item__purchase {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 4px;
}

.market-item__price-text {
  font-family: "DM Serif Text", serif;
  font-optical-sizing: auto;
  font-size: 2em;
  font-weight: 800;
  font-style: normal;
  margin: auto 0;
  color: rgb(14, 56, 29);
  margin-top: 4px;
}

.market-item__purchase-button {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;

  color: black;
  border: 1px black solid;

  background-color: rgb(113, 183, 204);
  border: none;
  border-radius: 6px;
  width: 70%;
  height: 100%;
  margin: auto 0;
  margin-top: 4px;
  transition: ease-in;
}
.market-item__purchase-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 106, 124);
  animation: move-button 0.2s ease infinite;
}
.market-item__purchase-button:active {
  animation: button-press 0.5s ease;
}

.filter-bar {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 20px auto;
}

.filter-bar__search-mode {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;

  font-size: 2.5em;
  width: 100%;
  text-align: center;
  padding: 5px auto;
  margin: 4px;
  border-radius: 5px;
  color: rgb(67, 106, 133);
}
.filter-bar__search-mode:hover {
  color: rgb(5, 37, 58);
}

.filter-bar__search-mode.active {
  /* when i add javascript make this last */
  animation: button-press 0.2s ease;
  color: white;
  background-color: rgb(5, 37, 58);
  border-radius: 5px;
}

.filter-bar__button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;

  font-size: 2.5em;
  height: 120%;
  width: 19%;
  text-align: center;
  padding: 5px auto;
  margin: 4px;
  border-radius: 5px;
  color: rgb(67, 106, 133);
}
.filter-bar__button:hover {
  color: rgb(5, 37, 58);
}
.filter-bar__button.active {
  /* when i add javascript make this last */
  animation: button-press 0.2s ease;
  color: white;
  background-color: rgb(5, 37, 58);
  border-radius: 5px;
}


.checkout {
  width: 94%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 300px;
  margin: 20px auto;
  padding: 12px;

  border: 6px solid black;
  border-radius: 10px;
  background-color: rgba(52, 150, 216, 0.2);
}

.checkout__title {
  font-family: "Outfit", sans-serif;
  font-size: 5em;
  margin-left: 1%;
}

.checkout__total-text {
  margin: .5%;
  margin-left: 1%;
  margin-right: 0;
  font-size: 3em;
  color: rgb(0, 0, 0);
  font-family: "Outfit", sans-serif;
}

.checkout__button {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;

  color: black;
  border: 1px black solid;

  background-color: rgb(90, 148, 165);
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 50px;
}

.checkout__button:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(44, 106, 124);
}

.checkout__button:active {
  animation: buy-items 0.2s ease;
}

.checkout__clear {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;

  color: black;
  border: 1px black solid;

  background-color: rgb(90, 148, 165);
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin-bottom: 1%;
}

.checkout__clear:hover {
  color: rgb(255, 255, 255);

  background-color: rgb(44, 106, 124);
}

.checkout__clear:active {
  animation: button-press 0.2s ease;
}

.checkout__card {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(185, 213, 213);
  border: 4px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.checkout__card-text { 
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  color: rgb(14, 34, 55);
  font-size: 2em;
}

.checkout__card-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.remove-button, .remove-button-all {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;

  color: black;
  border: 1px black solid;

  background-color: rgb(113, 183, 204);
  border: none;
  border-radius: 6px;
  width: 49%;
  height: 100%;
  margin: auto 0;
  margin-top: 4px;
  transition: ease-in;
}
.remove-button:hover, .remove-button-all:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 106, 124);
}
.remove-button:active, .remove-button-all:active {
  animation: button-press 0.25s ease;
}

.receipt-notification {
  font-family: "Lexend", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  padding-top: 4.5%;
  position: fixed;
  top: 78%;
  left: 78%;
  width: 20%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.875);
  border: rgb(209, 224, 226) 3px solid;
  border-radius: 10px;
  animation: receipt-popup 0.21s ease 1;
}
.receipt-notification__text {
  color: rgb(124, 191, 202);
  margin-bottom: 3%;
  font-size: 12px;
}

.receipt-notification__cost {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.receipt-notification__x {
  position: absolute;
  width: 10%;
  top: 5%;
  right: 5%;
}
.receipt-notification__x:hover {
  transform: scale(1.7);
  transition: all .08s ease-in;
}

@media screen and (max-width: 600px) {
  .container, .filter_bar {
    flex-direction: column;
    padding: 10px;
  } 

  .market-item {
    margin: 0;
  }
  .filter-bar__button {
    width: 40%;
  };

  .horizontal-line {
    margin-top: 5%;
  }

  h1 {
    font-size: 3em;
    align-items: bottom;
  }
}

@keyframes button-press {
  0% {
    transform: scale(1);
    background-color: rgb(51, 202, 244);
  }
  33% {
    transform: scale(0.8);
  }
  67% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buy-items {
  0% {
    transform: scale(1);
    background-color: rgb(86, 245, 142);
  }
  10% {
    transform: rotate(1deg);
  }
  20% {
    transform: rotate(1.2deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(-0.6deg);
  }
  100% {
    transform: rotate(0.4deg);
  }
}

@keyframes move-button {
  0% {
    transform: translateY(1px) rotate(1deg) scale(1.05);
  }
  25% {
    transform: translateY(-2px) rotate(-2deg);
  }
  50% {
    transform: translateY(1px) rotate(1deg);
  }
  75% {
    transform: translateY(-1px) rotate(1deg);
  }
  100% {
    transform: translateY(1px) rotate(-1deg);
  }
}

@keyframes receipt-popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  65% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotate-item {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}