body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background-image: linear-gradient(to bottom, rgb(248, 253, 252), rgb(221, 241, 239));
}

.outfit-title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

h1 {
    font-size: 10em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 94%;
    border: black 5px solid;
    border-radius: 10px;
}

.market-item {
    width: 22%;
    height: 300px;
}

.header-div {
    height: 100px;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}